DEFAULT_USER_AGENT=

BASE_URL=
PHONE_URL=
CATEGORY=
SUB_CATEGORY=
SUB_SUB_CATEGORY=
CITY=
DISTRICT_ID=
MIN_PRICE=
MAX_PRICE=
MIN_ROOMS=
MAX_ROOMS=
WITH_PHOTOS=
WITH_PROMOTED=
PUBLICATION_DATE=

DB_API_KEY=
DB_AUTH_DOMAIN=
DB_DATABASE_URL=
DB_STORAGE_BUCKET=

USER_EMAIL=
USER_PASSWORD=

TELEGRAM_BOT_API_URL=
TELEGRAM_BOT_KEY=
TELEGRAM_CHAT_IDS=

LOG_FILENAME=
